<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Veracity Estimation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/home.css">     
    <link rel="stylesheet" href="../static/css/s1087.css" type="text/css">
    <link rel="stylesheet" href="../static/css/t1087.css" type="text/css">
    <link rel="stylesheet" href="../static/css/menubar.css" type="text/css">
  <!-- 

   <link rel="stylesheet" href="../static/css/main.css">
   <link rel="stylesheet" href="../static/css/jumbotron-narrow.css">  -->
    
    <link rel="stylesheet" href="../static/css/angular-advanced-searchbox.css"> 
    
  
  </head>
  <body ng-app = "myApp">

    <div ng-view> </div>

    <script src="../static/lib/angularjs/angular.js"></script>
    <script src="../static/lib/angularjs/angular-route.js"></script>
    <script src="../static/lib/angularjs/angular-animate.js"></script>
    <script src="../static/lib/angularjs/angular-local-storage.js"></script>
    <script src="../static/lib/angularjs/ui-bootstrap-tpls-1.2.5.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/controller.js"></script>
    <script src="../static/js/factory.js"></script>
    <script src="../static/js/service.js"></script>
  </body>
</html>
